html {
    background-color:dimgray
}

.bio {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 22px;
    margin-right: 100px;
    animation: bio 1.4s linear;
}

.page-container {
    margin-top: 250px;
    margin-bottom: 250px;
}

@media only screen and (max-width: 800px) {
  .page-container {
    margin-top: 200px;
    margin-bottom: 150px;
  }
}

.title{
    font-size: 50px;
    color:beige
}

.subtitle {
    color:beige
}

.navbar-menu {
    background-color: rgb(57, 51, 51);
}

.navbar-item {
    color: beige;
}

.card-title {
    color:black;
}

.card-content {
    background-color: beige;
}

.card-footer {
    background-color: beige;
}

.contact-icons {
    margin: 20px;
    font-size: 50px;
    letter-spacing: 15px;
  }

.fa-github-square, .fa-linkedin, .fa-envelope, .fa-file{
    color:beige;
}